{{ define "title" }} - Feedback{{ end }}

{{ define "content" }}
<div class="white">
  <div class="container narrow pad-top pad-bottom">
    <h2 class="page-header">Feedback</h2>
    <p>
      Got some feedback for us? Shoot us an email at
      <a href="mailto:contact@principia.cc">contact@principia.cc</a>.
    </p>
    <p>
      <small>
        <em>
          This site is in active development. We're likely already aware if something is broken, but
          we'd love any feedback you might have!
        </em>
      </small>
    </p>
  </div>
</div>
{{ end }}
