{{ define "title" }} - Help{{ end }}

{{ define "content" }}
<div class="container pad-top pad-bottom">
  <h3 class="page-header center-align">Need Help?</h3>
</div>

<div class="container">
  <ul class="card-list">

    <li class="card">
      <div class="card-content">
        <p class="narrow">
          Principia is a modeling and simulation tool for educators and students of Kinematics. We believe
          that having visualizations that are flexible and packed with information can help students better
          understand material presented in a Physics I class.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/-5o1oPtBMdg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Overview</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll give you a brief overview of what the simulation builder is capable of accomplishing.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/LA2wu4FKGhc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Point Masses</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use point mass objects in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="http://www.youtube.com/embed/hH6SpXXn0SA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Surfaces</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use surfaces in your simulations.
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/3235sufis3w" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Ramps</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use ramps in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/3HGG_CZUqd8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Springs</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use springs in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card hide">
      <div class="card-content">
        <span class="card-title">Pulleys</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use pulleys in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/kVdlIEv1p7o" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Position/Velocity/Acceleration Graph</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use the positiong, velocity, and acceleration graphs in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/jCPtoFzY_FM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Keyframes and the Solver (Simple)</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to model a full physics problem using two keyframes.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/OPFxu0iwWaA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Keyframes and the Solver (Advanced)</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to model a full physics problem using four keyframes.
        </p>
      </div>
    </li>

  </ul>
</div>

<div class="clear"></div>

<div class="container pad-top pad-bottom center-align">
  <p class="pad-bottom">
    If you still need help, <a href="/feedback">get in touch</a> with us!
  </p>
</div>
{{ end }}
