{{ define "title" }} - Help{{ end }}

{{ define "content" }}
<div class="container pad-top pad-bottom">
  <h3 class="page-header center-align">Need Help?</h3>
</div>

<div class="container">
  <ul class="card-list">

    <li class="card-half-width card hide">
      <div class="card-content">
        <span class="card-title">What the what?</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          Principia is a modeling and simulation tool for educators and students of Kinematics. We believe
          that having visualizations that are flexible and packed with information can help students better
          understand material presented in a Physics I class.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="http://www.youtube.com/embed/S4369Flq0Yg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Point Masses</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="http://www.youtube.com/embed/hH6SpXXn0SA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Surfaces</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/3235sufis3w" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Ramps</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/3HGG_CZUqd8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Springs</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card hide">
      <div class="card-content">
        <span class="card-title">Pulleys</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/kVdlIEv1p7o" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Position/Velocity/Acceleration Graph</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card hide">
      <div class="card-content">
        <span class="card-title">Global Properties</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card hide">
      <div class="card-content">
        <span class="card-title">Scene Overview</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

    <li class="card-half-width card hide">
      <div class="card-content">
        <span class="card-title">Keyframes and the Solver</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to add modify the properties of
          existing bodies.
        </p>
        <p>This is just a placeholder!</p>
      </div>
    </li>

  </ul>
</div>

<div class="clear"></div>

<div class="container pad-top pad-bottom center-align">
  <p class="pad-bottom">
    If you still need help, <a href="/feedback">get in touch</a> with us!
  </p>
</div>
{{ end }}
