{{ define "title" }} - Help{{ end }}

{{ define "content" }}
<div class="container pad-top pad-bottom">
  <h3 class="page-header center-align">Need Help?</h3>
</div>

<div class="container">
  <ul class="card-list">

    <li class="card">
      <div class="card-content">
        <p class="narrow">
          Principia is a modeling and simulation tool for educators and students of kinematics. We believe
          that having visualizations that are flexible and packed with information can help students better
          understand material presented in a Physics I class. Before trying out the simulator, please try watching
          some of the videos below for a brief overview of Principia and some useful tutorials.
        </p>
        <br />
        <p class="narrow">
          Additional technical details are available at the bottom of this page.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/-5o1oPtBMdg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Overview</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll give you a brief overview of what the simulation builder is capable of accomplishing.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/LA2wu4FKGhc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Point Masses</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use point mass objects in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="http://www.youtube.com/embed/hH6SpXXn0SA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Surfaces</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use surfaces in your simulations.
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/3235sufis3w" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Ramps</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use ramps in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/3HGG_CZUqd8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Springs</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use springs in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card hide">
      <div class="card-content">
        <span class="card-title">Pulleys</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use pulleys in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/kVdlIEv1p7o" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Position/Velocity/Acceleration Graph</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll show you how to use the positiong, velocity, and acceleration graphs in your simulations.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/jCPtoFzY_FM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Keyframes and the Solver (Simple)</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to model a full physics problem using two keyframes.
        </p>
      </div>
    </li>

    <li class="card-half-width card">
      <div class="card-image">
        <div class="video-container">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/OPFxu0iwWaA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Keyframes and the Solver (Advanced)</span>
        <span class="activator clickable"><i class="fa fa-wrench"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title">Summary<i class="fa fa-times right"></i></span>
        <p>
          In this tutorial we'll walk you through how to model a full physics problem using four keyframes.
        </p>
      </div>
    </li>
    
    <li class="card">
      <div class="card-content">
        <h5> Quick Start Guide</h5>
        
        <p>
          Use the components in the toolbox tab to model a physics problem. After dragging it on to the canvas, you can select
          an object and the properties tab will open. From there, you can modify properties such as velocity, acceleration, mass, 
          spring constants, and more. The simulator automatically generates 1000 frames of motion by default. 
        </p><br />  
        
        <p>
          You can enable more advanced features by either finding the toggle in the properties tab,
          right-clicking an object and using the context menu that appears, or by using shortcut keys.
        </p><br />
        
        <p>
          Current shortcuts include:
          <ul>
            <li><i>f</i>: Pause the playback and draw a free-body diagram of the currently selected body</li>
            <li><i>a</i>: Add acceleration to currently selected body (towards cursor)</li>
            <li><i>v</i>: Add velocity to currently selected body (towards cursor)</li>
            <li><i>del</i>: Delete currently selected body</li>
          </ul>
        </p><br />
        
        <p>
          If you want to solve for unknown values, you will need to add additional keyframes using the keyframe tab. A "keyframe"
          is a snapshot in time representing state changes in a problem. It may represent the instant that something beings accelerating,
          or the instant it comes to rest. Once multiple keyframes exist, the properties window will have a new icon of a shrugging man that you
          can click to indicate you don't know the value of a certain property. When you click play (and assuming there are enough values that
          are known), these unknown values will be filled in with an analytic solution. You can use the solution tab to see the details.
        </p><br />
        
        <p>
          Use the globals tab to edit properties that affect the entire simulation, such as where the origin is (object coordinates are displayed
          relative to this) or which unit to use.
        </p><br />
        
        <p>
          Use the overview tab for a quick list of all of the objects in your scene. You can click an object in the overview
          to select that object and center the camera on it, or you can click the garbage bin to delete that object.
        </p><br />
        
        <h5> Why don't the numbers match my homework?!</h5>
        <p>
          Principia is built in two parts: the sandbox where you model your problem and a solver that attempts to fill
          in unknown values.
        </p><br />
        
        <p>
          If you only have one keyframe, your problem does not need the solver. A single keyframe describes
          an initial state where all values are known. The next 999 frames are generated by calculating the forces acting
          on each body and modifying the acceleration, velocity, and position accordingly. However, since Principia works
          using discrete frames, a fixed amount of time passes per frame. Error can accumulate as a result. For example,
          the force of a spring pulling on a body is constantly changing as it oscillates. Principia computes the value of that
          force at two snapshots in time, not accounting for the minute changes in force that occur between those frames.
        </p><br />
        
        <p>
          Therefore, you can use the sandbox mode to examine general principles and gain an overall feel for how
          bodies might interact in the real world, but it does not yield exact values.
        </p><br />        
        
        <p>
          Thanks to the existence of the solver, however, Principia is still potentially useful for problems where you
          do need to know an exact value. The solver is not concerned with the error that accumulates on the in-between
          frames because it does a first pass using the fundamental kinematics equations, filling in the unknowns that
          you specify in each keyframe. Non-keyframes are still approximations, but as soon as the simulator reaches
          a keyframe (indicated by a blue highlight in the keyframes tab), the delta-time and object properties are all
          adjusted to match the exact values that are analytically solved for before the playback begins. 
        </p><br />
        <p>
          If you are using Principia to better understand your homework, you should open the solution tab to see how that 
          analytic solution was computed. You <i>might</i> regret it if you simply try to copy answers without understanding
          the equations. Your instructor certainly doesn't plan to let you have access to Principia when you are taking your 
          final!
        </p><br />
        
        <p>
          The solver does not currently account for more advanced physics equations, nor does it respond to the fact
          that bodies may collide on in-between frames. Keep an eye out for future updates addressing these issues, or
          feel free to <a href="https://github.com/samolds/principia">help contribute yourself</a>!
        </p>
        
      </div>
    </li>

  </ul>
</div>

<div class="clear"></div>

<div class="container pad-top pad-bottom center-align">
  <p class="pad-bottom">
    If you still need help, <a href="/feedback">get in touch</a> with us!
  </p>
</div>
{{ end }}
