{{ define "title" }}{{ end }}

{{ define "content" }}
<div class="container">
  <div class="card-panel">
    {{ $numSimulations := len .Data.simulations }}
    {{ if gt $numSimulations 1 }}
      <h3 class="page-header">This Week's Top {{ $numSimulations }} Simulations!</h3>
    {{ else if eq $numSimulations 1 }}
      <h3 class="page-header">This Week's Top Simulation!</h3>
    {{ else }}
      <h3>Welcome to Principia!</h3>
      <p>No new simulations have been created this week.<br />😔 😞 😣 😢 😂 😭 😪 😥 😰 😅 😓 😩 😫 😨 😱 😠</p>
    {{ end }}
    {{ if .Data.simulations }}
      <ul>
        {{ range $simulation := .Data.simulations }}
          <li><a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyID }}">{{ $simulation.Name }} - {{ $simulation.Type }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>
{{ end }}

