{{ define "title" }}{{ end }}

{{ define "content" }}
<div class="home-background">
  <div class="home-hero-space">
    <div class="container valign-wrapper">
      <div class="valign">
        <div class="white-text hide-on-small-only">
          <h1 class="center-align">Welcome!</h1>
        </div>
        <div class="white-text hide-on-med-and-up">
          <h3 class="center-align">Welcome!</h3>
        </div>
        <div class="white-text center-align">
          {{ $numSimulations := len .Data.simulations }}
          {{ if gt $numSimulations 1 }}
            This Week's {{ $numSimulations }} Most Recent Simulations
          {{ else if eq $numSimulations 1 }}
            This Week's Most Recent Simulation
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  {{ if .Data.simulations }}
    <div class="container pad-bottom">
      <ul class="card-list">
        {{ range $simulation := .Data.simulations }}
          <li>
            <div class="hide-on-small-only card-quarter-width card">
              <div class="card-image waves-effect waves-block waves-light">
                <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}"><img class="responsive-img" src="/static/img/accent.png" /></a>
              </div>
              <div class="card-content">
                <span class="card-title">
                  <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}">{{ $simulation.Name }}</a>
                </span>
                <p><small>A {{ $simulation.Type }} simulation by <a href="/user/{{ $simulation.AuthorID }}">{{ $simulation.AuthorName }}</a></small></p>
              </div>
            </div>

            <div class="hide-on-med-and-up card-half-width card">
              <div class="card-image waves-effect waves-block waves-light">
                <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}"><img class="responsive-img" src="/static/img/accent.png" /></a>
              </div>
              <div class="card-content">
                <span class="card-title">
                  <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}">{{ $simulation.Name }}</a>
                </span>
                <p><small>A {{ $simulation.Type }} simulation by <a href="/user/{{ $simulation.AuthorID }}">{{ $simulation.AuthorName }}</a></small></p>
              </div>
            </div>
          </li>
        {{ end }}
      </ul>
    </div>

    <div class="clear pad-bottom"></div>
  {{ end }}

  {{ if eq "Sign In" .Data.loginMessage }}
    <div class="container narrow pad-top pad-bottom">
      <div class="card-panel">
        <div class="valign-wrapper">
          <div class="valign center-align">
            <p class="flow-text">
              Have a Google Account?
            </p>
            <a href="{{ .Data.loginUrl }}"><img src="/static/img/googlesignin.svg" class="responsive-img"></a>
            <p>Or go <a href="{{ .Data.loginUrl }}">sign up</a>!</p>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}

