{{ define "title" }}{{ end }}

{{ define "content" }}
<div class="container narrow">
  <div class="card-panel">
    <div class="hide-on-small-only">
      <h3 class="page-header">Unsupported :(</h3>
    </div>
    <div class="hide-on-med-and-up">
      <h4 class="page-header">Unsupported :(</h4>
    </div>
    <p>
      Unfortunately our simulation builder does not work with Mobile
      Browsers or IE. Please return using a Desktop version of Chrome,
      Safari, or Firefox.
    </p>
    <p>
      In the mean time, you can watch existing simulations in a Mobile
      Browser! Feel free to check out some of the
      <a href="/simulator/browse">nifty existing simulations</a>.
    </p>
  </div>
</div>
{{ end }}
