{{ define "title"}} - About{{ end }}

{{ define "content" }}
<div class="container narrow">
  <h1 class="page-header">About</h1>
  <p>
    This is a senior capstone project by:
    <ul>
      <li><a href="http://github.com/samolds">Sam Olds</a></li>
      <li><a href="http://github.com/dannylp">Danny Petersen</a></li>
      <li><a href="http://github.com/matthewturnercs">Matthew Turner</a></li>
      <li><a href="http://github.com/daltonwallace">Dalton Wallace</a></li>
    </ul>

    It is hosted on Google App Engine using Go, with PhysicsJS on the front end. The source code is available on
    <a href="http://github.com/samolds/principia">GitHub</a>.
  </p>

  <h3>Abstract</h3>
  <p>
    An educational physics playground emphasizing visualizations.
  </p>
  <p>
    This web-based project is designed to helps students reinforce key concepts through visualizing physical scenarios.
    A user can build a system by dragging and dropping elements like ramps, pulleys, or springs into a frame in their
    browser. Then the simulation can be run to see the elements interact with each other over time, with the ability to
    pause the simulation at any point and query the state of an element. Users can save their simulations and share
    them with others. Special privileges are available for instructor accounts to manage a classroom, including the
    ability to incorporate quizzes or assignments into their physics system.
  </p>
  <p>
    Principia serves as a powerful supplement to any physics classroom or as a playground that would allow students
    to further explore concepts in a visually exciting way.
  </p>
</div>
{{ end }}
