{{ define "base" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="content-type" content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/roboto.css" rel="stylesheet" type="text/css">

    <title>Principia{{ template "title" . }}</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Principia</a>
          <p class="navbar-toggle collapsed warning">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            This site is not intended for use on mobile
          </p>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="/feedback">Feedback</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">MyPrincipia <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Coming Soon!</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ template "content" . }}
    </div>

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    {{ template "scripts" . }}
  </body>
</html>
{{ end }}

{{ define "title" }}{{ end }}
{{ define "scripts" }}{{ end }}
