{{ define "base" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="content-type" content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->

      <link href="/static/css/custom.css" rel="stylesheet" type="text/css">
      <link href="/static/fonts/roboto.css" rel="stylesheet" type="text/css">

    <title>Principia{{ template "title" . }}</title>
  </head>
  <body>

    <!-- Dropdown Structure -->
    <ul id="myPrincipiaDropdown" class="dropdown-content" role="navigation">
      <li><a href="#!">My Simulations</a></li>
      <li><a href="#!">My Profile</a></li>
      <li class="divider"></li>
      <li><a href="#!">Sign in</a></li>
    </ul>


    <nav id="nav" class="black darken-5-5">
      <div class="nav-wrapper container">
          <a id="logo-container" class="brand-logo" href="/">    Principia</a>
          <ul class="right hide-on-med-down">
            <li><a href="/about">About</a></li>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="myPrincipiaDropdown">MyPrincipia<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
      </div>
    </nav>

    <div class="container">
      {{ template "content" . }}
    </div>

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/materialize.min.js"></script>
    {{ template "scripts" . }}
  </body>
</html>
{{ end }}

{{ define "title" }}{{ end }}
{{ define "scripts" }}{{ end }}
