{{ define "base" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/custom.css" rel="stylesheet" type="text/css">

    <title>Principia{{ template "title" . }}</title>
  </head>

  <body>
    <header>
      <nav id="nav" class="grey darken-3" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" class="brand-logo" href="/">Principia</a>
          <ul class="right hide-on-med-down">
            <li>
              <a class="dropdown-button" href="#" data-activates="myPrincipiaDropdown">{{ if .CurrentUser }}{{ .CurrentUser.Email }}{{ else }}MyPrincipia{{ end }}<i class="material-icons right">arrow_drop_down</i></a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Dropdown Structure -->
      <ul id="myPrincipiaDropdown" class="dropdown-content grey darken-4" role="navigation">
        {{ if .CurrentUser }}
          <li class="grey darken-3"><a class="white-text" href="#">My Simulations</a></li>
          <li class="grey darken-3"><a class="white-text" href="#">My Profile</a></li>
          <li class="divider grey darken-3 white-text"></li>
        {{ end }}
        <li class="grey darken-3"><a class="white-text" href="{{ .Data.loginUrl }}">{{ .Data.loginMessage }}</a></li>
      </ul>
    </header>

    <div class="pad-bottom"></div>

    <main>
      {{ template "content" . }}
    </main>

    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <span class="pad-sides"><a class="white-text" href="/about">About</a></span>
          <span class="pad-sides"><a class="white-text" href="/faqs">FAQs</a></span>
          <span class="pad-sides"><a class="white-text" href="/feedback">Feedback</a></span>
          <span class="white-text right">&copy; 2015 Principia</span>
        </div>
      </div>
    </footer>

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/materialize.min.js"></script>
    {{ template "scripts" . }}
  </body>
</html>
{{ end }}

{{ define "title" }}{{ end }}
{{ define "scripts" }}{{ end }}
