{{ define "title"}} - FAQs{{ end }}

{{ define "content" }}
<div class="container narrow">
  <h1 class="page-header">Fequently Asked Questions</h1>
  <h4>Why <em>Principia</em>?</h4>
  <p>
    <a href="https://en.wikipedia.org/wiki/Philosophi%C3%A6_Naturalis_Principia_Mathematica">Philosophiæ Naturalis Principia Mathematica</a>
    is the name of the book Sir Isaac Newton wrote that first outlined the mechanics of Physics. It is often
    referred to simply as the "Principia".
  </p>

  <h3>Unanswered Questions?</h3>
  <p>
    Your questions not answered? We'd love more <a href="/feedback">feedback</a>!
  </p>
</div>
{{ end }}
