{{ define "title" }} - FAQs{{ end }}

{{ define "content" }}
<div class="container narrow">
  <div class="card-panel z-depth-5">
    <h3 class="page-header">Frequently Asked Questions</h3>

    <h5>Why <em>Principia</em>?</h5>
    <p class="pad-bottom">
      <a href="https://en.wikipedia.org/wiki/Philosophi%C3%A6_Naturalis_Principia_Mathematica">Philosophiæ Naturalis Principia Mathematica</a>
      is the name of the book Sir Isaac Newton wrote that first outlined the mechanics of Physics. It is often
      referred to simply as the "Principia".
    </p>

    <h5>Why a physics system simulator?</h5>
    <p class="pad-bottom">
      Many of the best Physics teachers and professors are the ones who provide endless examples. We hope to
      develop a platform where you can interact with these examples and build your own!
    </p>

    <h5>Do I have to create a new acconut?</h5>
    <p>
      Did you mean account?
    </p>
    <p class="pad-bottom">
      We're integrated with Google's authentication software. This means that you just log in using your normal
      Google account credentials (the username and password you use for Gmail) and you can start saving the
      simulations you build. If you don't already have a Google Account, you'll need to sign up for one.
    </p>

    <h5>How much does it cost?</h5>
    <p class="pad-bottom">
      We have no immediate plans to monetize this app. Everything is free!
    </p>

    <h5>Can I use this in my classroom?</h5>
    <p class="pad-bottom">
      Of course! That is the intent. We hope to incorporate quizzes, tests, and assignments so that the simulator
      itself can be used as part of class activities.
    </p>

    <h5>How do I invest?</h5>
    <p class="pad-bottom">
      If you're as excited about this as we are, <a href="/feedback">please get in touch with us</a>.
    </p>

    <h5>Will this work on mobile?</h5>
    <p class="pad-bottom">
      We do not intend to develop this web application specifically for mobile devices. However, since it is a
      web app most of the features will probably still work on mobile. But, no guarantees.
    </p>

    <h5>The physics system I want to build is not supported by your simulator!</h5>
    <p class="pad-bottom">
      Oh no! <a href="/feedback">Let us know</a> what you're trying to build and we'll do our best to add it into
      our simulator.
    </p>

    <hr />

    <h4>Unanswered Questions?</h4>
    <p class="pad-bottom">
      Is your question not answered? We'd love more <a href="/feedback">feedback</a>!
    </p>
  </div>
</div>
{{ end }}
