{{ define "title" }} - Simulator{{ end }}

{{ define "scripts" }}
<script src="/static/js/lib/physicsjs/physicsjs-full.js"></script>
<script src="/static/js/simulator/globals.js"></script>
<script src="/static/js/simulator/simulation.js"></script>
<script src="/static/js/simulator/ui-controller.js"></script>
<script src="/static/js/simulator/rendering.js"></script>
<script src="/static/js/simulator/utility.js"></script>
<script src="/static/js/simulator/components/mass.js"></script>
<script src="/static/js/simulator/components/spring.js"></script>
<script src="/static/js/simulator/modules/sandbox.js"></script>

<script>
  KinematicsSandbox.initModule({{.Data.sim.Contents}});
</script>

<script src="/static/js/simulator/base.js"></script>
<script src="/static/js/forms.js"></script>
<script src="/static/js/view.js"></script>
{{ end }}

{{ define "content" }}
<div class="main-container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel z-depth-5">
        <div class="row">
          <div class="col s4">
            {{ if .CurrentUser }}
              {{ if .Data.sim.Name }}
                <input id="simulation-name" type="text" value="{{ .Data.sim.Name }}"></input>
              {{ else }}
                <input id="simulation-name" type="text" value="New Simulation"></input>
              {{ end }}
            {{ else }}
              <input id="simulation-name" type="text" value="Kinematics Simulator"></input>
            {{ end }}
            <label for="simulation-name" id="simulation-name-label">Simulation Name</label>
          </div>

          {{ if and (.Data.isOwner) (.CurrentUser) }}
          <!-- Show Save Simulation only if you are the logged in and the owner-->
          <div class="col s1 right pad-sides">
            <a class="waves-effect waves-light btn-floating blue darken-1" id="save-button" onclick="saveSimulation()"><i class="material-icons">save</i></a>
          </div>
          {{ end }}
        </div>

        <!-- Simulator! -->
        <div class="row">
          <div class="col s8">
            <!-- This div has to have the id "viewport" for PhysicsJS to render here -->
            <div style="height: 500px; padding: 10px;" id="viewport" class="white card"></div>
          </div>
          <div class="col s4 card z-depth-1 scrollable-tools" style="height: 500px;">
            <ul class="tabs">
              <li class="tab col s4 valign-wrapper"><a class="property-tab blue-text valign active" href="#toolbox" id="toolbox-tab"><i class="material-icons">view_module</i></a></li>
              <li class="tab col s4"><a class="property-tab blue-text valign" href="#elementprops" id="elementprops-tab"><i class="material-icons">info_outline</i></a></li>
              <li class="tab col s4"><a class="property-tab blue-text valign" href="#globalprops" id="globalprops-tab"><i class="material-icons">public</i></a></li>
              <div class="indicator blue" style="z-index: 1;"></div>
            </ul>

            <!-- Toolbox -->
            <div id="toolbox">
              <div class="center-align">
                <h5 class="pad-sides">Toolbox</h5>
                <div class="row">
                  <div class="col s4 toolbox-item-container" style="background-color: #f5f5f5; width:100px; height:100px;">
                    <div class="dummy"></div>
                    <div class="toolbox-item">
                      <img src="/static/img/logo/logo.png" class="draggable" width="40" component="kinematics1D-mass">
                    </div>
                  </div>
                  <div class="col s4 toolbox-item-container" style="background-color: #f5f5f5; width:100px; height:100px; ">
                    <div class="dummy"></div>
                    <div class="toolbox-item"> 
                      <img src="/static/img/toolbox/spring.png" class="draggable" width="55" component="kinematics1D-spring">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Properties window for each element -->
            <div id="elementprops">
              <div class="center-align">
                <h5 class="pad-sides"><span id="properties-nickname-title"></span>Element Properties</h5>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="number" id="properties-position-x" placeholder=""></input>
                    <label for="properties-position-x" class="active">X Position</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="number" id="properties-position-y" placeholder=""></input>
                    <label for="properties-position-y" class="active">Y Position</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="number" id="properties-velocity-x" placeholder=""></input>
                    <label for="properties-velocity-x" class="active">X Velocity</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="number" id="properties-velocity-y" placeholder=""></input>
                    <label for="properties-velocity-y" class="active">Y Velocity</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="number" id="properties-acceleration-x" placeholder=""></input>
                    <label for="properties-acceleration-x" class="active">X Acceleration</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="number" id="properties-acceleration-y" placeholder=""></input>
                    <label for="properties-acceleration-y" class="active">Y Acceleration</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="number" id="properties-mass" placeholder=""></input>
                    <label for="properties-mass" class="active">Mass</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="text" id="properties-nickname" placeholder=""></input>
                    <label for="properties-nickname" class="active">Nickname</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">        
                    <select id="properties-img" class="browser-default">
                      <option disabled>Display As:</option>
                      <option value="0" selected="selected">Logo</option>
                      <option value="1">Weight</option>
                      <option value="2">Car</option>
                      <option value="3">Mascot</option>
                      <option value="4">Dart</option>
                      <option value="5">Dalton</option>
                      <option value="6">Danny</option>
                      <option value="7">Matthew</option>
                      <option value="8">Sam</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!-- Hideable global properties window for each element -->
            <div id="globalprops">
              <div class="center-align">
                <h5 class="pad-sides">Global Properties</h5>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="number" id="glob-xaccel" placeholder=""></input>
                    <label for="glob-xaccel" class="active">Horizontal Acceleration</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="number" id="glob-yaccel" placeholder=""></input>
                    <label for="glob-yaccel" class="active">Vertical Acceleration</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End simulator -->

        <!-- Scrub through simulation frames with playback -->
        <div class="row" id="playback">
          <div class="col s12">
            <div class="row">
              <div class="col s1">
                <button type="button" class="waves-effect waves-light btn-floating blue darken-1" onclick="toggleSimulator()" id="playpause">
                  <span aria-hidden="true"><i id="play-pause-icon"class="material-icons">play_arrow</i></span>GO!
                </button>
              </div>
              <div class="hello col s11">
                <input  type="range" min="0" max="3999" step="1" value="0" id="simulatorFrameRange" oninput="onRangeUpdate()" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Only post a comment if logged in and simulation is saved -->
{{ if and (.CurrentUser) (.Data.sim.Id) }}
<div class="main-container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel z-depth-5">
        <h5>Comments <i class="material-icons" style="margin-top: 10px;">question_answer</i></h5>
        <div class="row">
          <div class="col s8">
            <div class="row">
              <div class="col s2">
                <i class="large material-icons">account_circle</i>
              </div>
              <div class="col s10 bubble-content" id="new-comment">
                <div class="row">
                  <div class="point"></div>
                  <div class="input-field col s12">
                    <!-- <input id="comment-contents" type="text" onchange="saveComment()" ></input> -->
                    <textarea id="comment-contents" class="materialize-textarea comment-text" placeholder="Comment on this simulation"></textarea>
                    <label for="comment-name"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col right">
                  <a class="waves-effect waves-light btn blue darken-1" onclick="saveComment()">Post</a>
                </div>
              </div>
            </div> 

            <!-- Only show comments if this is an existing simulation -->
            {{ if .Data.sim.Id}}
            <div class="row" id="comment-wrapper">
              <div class="col s12">
                <div class="preloader-wrapper small active" id="comment-load-gif">
                  <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s10" id="comments" style="word-wrap: break-word;"></div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}
