{{ define "title"}} - Simulator{{ end }}

{{ define "content" }}
<h1 class="page-header">Simulator</h1>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Kinematics</a></li>
      <li role="presentation"><a href="#">Statics</a></li>
      <li role="presentation"><a href="#">Other</a></li>
      <li role="presentation"><a href="#">Other</a></li>
    </ul>
  </div>
  <div class="col-md-9" style="background-color: #555;">
    <img style="padding: 10px 60px;" src="/static/img/simulatorexample.gif" />
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-9">
    <h3 class="page-header">Comments</h3>
    <ul class="list-group">
      <li class="list-group-item" style="padding: 20px 30px;">
        <p>Wow! Super neat!</p>
        <p>- Timmy</p>
      </li>
      
      <li class="list-group-item" style="padding: 20px 30px;">
        <p>This is so cool</p>
        <p>- Mr. Smith</p>
      </li>
    </ul>
  </div>
</div>
{{ end }}
