{{ define "title" }} - Profile{{ end }}

{{ define "scripts" }}
<script src="/static/js/forms.js"></script>
<script type="text/javascript">
  // $( document ).ready(function() {
  //     $('#profile-welcome-modal').openModal();
  // });
</script>
{{ end }}

{{ define "content" }}
<div class="container narrow">
  <div class="card-panel">

    <div class="row">
      <div class="col s4">
        <h3 class="page-header">My Profile</h3>
      </div>
      <div class="col s2 right pad-sides" style="margin: 1.46rem 0 1.168rem 0">
        <a class="waves-effect waves-light btn-floating blue darken-1 page-header" id="profile-save-button" onclick="saveUser()"><i class="fa fa-floppy-o"></i></a>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div class="input-field col s12">
          <label for="user-email" id="user-email-label">User Email</label>
          <input disabled value="{{ .User.Email }}" id="user-email" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label for="user-display-name" id="user-email-label">Display name</label>
          <input id="user-display-name" value="{{ .User.DisplayName }}" type="text" class="validate">
        </div>
      </div>
      <div class="input-field col s6">
        <div class="file-field">
          <div id="profile-pic-container">
            <img id="profile-pic" style="height: 100%; width: 100%" src="http://wallpapercave.com/wp/N1OF7RI.png" alt="Profile Picture" />
          </div>
          <input type='file' onchange="readURL(this);" />
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload An Image">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="user-interests" class="materialize-textarea" length="120">{{ .User.Interests }}</textarea>
        <label for="user-interests">Areas Of Interest:</label>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<!-- <div id="profile-welcome-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Hello There</h4>
    <p>Seeing as how this is your first time logging in, why don't you take a second and tell us a little bit more about yourself.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Sounds Good!</a>
  </div>
</div> -->

{{ end }}
