{{ define "title" }} - Profile{{ end }}

{{ define "scripts" }}
<script src="/static/js/forms.js"></script>
{{ end }}

{{ define "content" }}
<div class="container pad-top pad-bottom">
  <h3 class="page-header center-align">My Profile</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card-panel">
        <div class="input-field">
          <label for="user-email" id="user-email-label">User Email</label>
          <input disabled value="{{ .User.Email }}" id="user-email" type="text" class="validate">
        </div>
        <div class="input-field">
          <label for="user-display-name" id="user-email-label">Display name</label>
          <input id="user-display-name" value="{{ .User.DisplayName }}" type="text" class="validate">
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="card-panel">
        <div class="file-field">
          <div id="profile-pic-container" class="valign-wrapper dark-accent-gradient-1">
            <div class="valign center-align" style="width: 100%;">
              <i class="white-text fa fa-user large"></i>
            </div>
          </div>
          <!--
            <input type='file' onchange="readURL(this);" />
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload An Image">
            </div>
          -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <div class="input-field">
          <textarea id="user-interests" class="materialize-textarea" length="120">{{ .User.Interests }}</textarea>
          <label for="user-interests">Areas Of Interest:</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="center-align">
      <a class="waves-effect waves-light btn-large blue darken-1" id="profile-save-button" onclick="saveUser()"><i class="fa fa-floppy-o"></i> Update!</a>
    </div>
  </div>
</div>

<div class="pad-bottom"></div>
{{ end }}
