{{ define "title" }} - My Simulations{{ end }}

{{ define "scripts" }}
<script src="/static/js/forms.js"></script>
{{ end }}

{{ define "content" }}
<div class="container narrow">
  <div class="card-panel">
    <h3 class="page-header">My Simulations</h3>
    {{ if .Data.simulations }}
      <ul>
        {{ range $simulation := .Data.simulations }}
          <li>
            <div class='row'>
              <div class='col s4'>
                <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}">{{ $simulation.Name }} - {{ $simulation.Type }}</a>
              </div>
              <div class='col s1'>
                <a class="clickable" onClick="deleteSimulation('/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}', null, this.parentElement.parentElement)"><i class="fa fa-trash-o fa-lg-custom"></i></a>
              </div>
            </div>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>Nothing?!</p>
    {{ end }}
  </div>
</div>
{{ end }}
