{{ define "title" }} - User Simulations{{ end }}

{{ define "content" }}
<div class="container pad-top pad-bottom">
  <div class="center-align">
    {{ if .Data.userIsOwner }}
      <h3 class="page-header">My Simulations</h3>
    {{ else if .Data.user.DisplayName }}
      <h3 class="page-header">{{ .Data.user.DisplayName }}'s Simulations</h3>
    {{ else }}
      <h3 class="page-header">Anonymous' Simulations</h3>
    {{ end }}
  </div>
  <div class="center-align">
    By Creation Data
  </div>
</div>

{{ template "simulationsListFrag" . }}

<div class="pad-bottom"></div>
{{ end }}
