.narrow {
  padding-left: 10%;
  padding-right: 10%;
}

.wide {
  padding-left: 2%;
  padding-right: 2%;
}

.main-container {
  margin: auto;
  width: 99%;
}

.clear {
  clear: both;
}

.pad {
  padding: 20px;
}

.pad-sides {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-sides-big {
  padding-left: 25px;
  padding-right: 25px;
}

.pad-top {
  padding-top: 30px;
}

.pad-bottom {
  padding-bottom: 30px;
}

.pad-scrub {
  padding-top: 10px;
  padding-bottom: 10px;
}

.principia-logo {
  width: 430px;
  max-width: 100%;
}

.principia-logo-small {
  width: 120px;
  max-width: 100%;
}

.principia-blue {
  background-color: #0066cc;
}

.principia-blue-color {
  color: #0066cc;
}

.pad-title{
  padding-bottom: 15px;
}

.page-header {
  word-break: break-word;
}



/* for blue links on about cards */
  .card-action a.dark-link-blue,
  .card-action a.dark-link-blue:link,
  .card-action a.dark-link-blue:visited {
    color: #039be5;
  }

  .card-action a.dark-link-blue:hover {
    color: #29b6f6;
  }
/* end blue links */

.principia-card-dark-color {
  background-color: #222222;
}

/* for smaller text on about cards */
  .card .card-content .card-title,
  .card .card-reveal .card-title {
    font-size: 1.25em;
    line-height: 1.25em;
  }

  .card-reveal {
    font-size: 0.9em;
  }

  .principia-about-card-sam .card-reveal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/img/team/turtle/sam.png') no-repeat;
    background-size: cover;
  }

  .principia-about-card-danny .card-reveal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/img/team/turtle/danny.png') no-repeat;
    background-size: cover;
  }

  .principia-about-card-matthew .card-reveal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/img/team/turtle/matthew.png') no-repeat;
    background-size: cover;
  }

  .principia-about-card-dalton .card-reveal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/img/team/turtle/dalton.png') no-repeat;
    background-size: cover;
  }
/* end blue links */

/* for sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #dddddd;
  }

  main {
    flex: 1 0 auto;
  }
/* end sticky footer */

/*for Simulation name input*/
#simulation-name {
  border-bottom: 0px solid #29b6f6;
  box-shadow: 0 0px 0 0 #29b6f6; 
}


#simulation-name:focus {
  border-bottom: 2px solid #29b6f6;
  box-shadow: 0 0px 0 0 #29b6f6; 
}

/*#simulation-name-label{display: none;}*/

.properties-label{display: initial;}

/*for scrollable tool list*/
.scrollable-tools {
  white-space: nowrap;
  overflow-x: -moz-scrollbars-vertical;
  overflow-x: scroll;
}

header {
  z-index: 50;
}

.principia-navbar-color {
  /* background-color: #353f4a; */
  background-color: #222222;
}

.principia-navbar-color ul li:hover,
.principia-navbar-color ul li.active {
  /* background-color: #5d656e; */
  background-color: #444444;
}

.principia-footer-color a, .principia-footer-color span {
  color: #000000;
}

.principia-footer-color a:hover,
.principia-footer-color a:active {
  color: #0066cc !important; /* because of materialize stupidness */
}

.home-background {
  height: 100%;
  padding-bottom: 100px;
  background-color: #0066cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #353f4a, #0066cc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(53, 63, 74, 0.5) 0%, rgba(0, 102, 204, 0.5) 60%, rgba(221, 221, 221, 1) 100%), url('/static/img/accent.png') no-repeat;
  background-size: cover;
}

.home-background .valign-wrapper {
  height: 100%;
}

.home-background .valign {
  width: 100%;
}

.home-hero-space {
  padding-bottom: 50px;
  height: 500px;
}

.feedback-hero {
  height: 100px;
}

/* custom form color */
  /* label focus color */
  .input-field input[type=text]:focus + label,
  .input-field input[type=number]:focus + label,
  .input-field textarea.materialize-textarea:focus:not([readonly])+label
  {
    color: #29b6f6;
  }

  /* label underline focus color */
  .input-field textarea.materialize-textarea:focus:not([readonly]),
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #29b6f6;
    box-shadow: 0 1px 0 0 #29b6f6;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #29b6f6;
  }

  /* label underline focus color */
  .input-field input[type=number]:focus {
    border-bottom: 1px solid #29b6f6;
    box-shadow: 0 1px 0 0 #29b6f6;
  }

  .input-field > label {
    left: 0rem;
  }

  .switch > label {
    padding-top: .75rem;
  }

  .switch label input[type=checkbox]:checked+.lever {
    background-color: #29b6f6;
  }

  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #109ddd;
  }
  
  .input-field-variable {
    width: 70% 
  }
  
  .input-field-unknown-container {
    position: relative;
    top: -57px;
    left: 50px;
  }
  
  .input-field-unknown {
    padding: 0;
    height: 42px;
  }

  .input-field-unknown img {
    padding-top: 5px;
  }
/* end custom form */

/* keyframe thumbnails */
  .keyframe {
    height: 120px;
    width: 150px;
    border: 1px solid #888;
    background-color: #e3f2fd;
  }
/* end keyframe */

#keyframelist ul{
    list-style-type: none;
}

#keyframelist li {
    margin: 0px;
    padding: 0px;
    max-height: 255px;
    min-height: 255px;
    vertical-align: top;
  float: left;
}

.keyframe-tile{
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
  vertical-align: top;
}

.keyframe-tile:hover .delete-kf-btn{
  /*display: inline-block;*/
  visibility: visible;
  margin: 0px;
  padding: 0px;
  vertical-align: auto;
}

.delete-kf-btn {
  visibility: hidden;
  margin: 0px;
  padding: 0px;

}
.kf-btn-placeholder{
  visibility: hidden;
}
.remove-keyframe-btn{
  margin: 0px;
  padding:0px;
  position:relative;
  left: 125px;
  top:50px;
  width: 37px;
  margin-top:-37px; /* TODO: Find out what broke here? */
}

.remove-keyframe-btn:hover .delete-kf-btn {
  display: inline-block;
  margin: 0px;
  padding: 0px;  
}

/* for tabs styling */
/* simulator properties window */
  .prop-window {
    position: absolute;
    right: 2%;    /* 1 + padding used in 'wide' class */
    margin: 2px;
    width: 300px;
    height: 450px;
    background-color: #efefef;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }

  .global-win {
    z-index: 4;
  }

  .element-win {
    z-index: 3;
  }
/* end properties */


/* hotfix for slider artifact */
  span.thumb.active {
    display: none;
  }
/* end slider hotfix */



textarea.comment-text {
  padding: 0;
}

/* logo stuff */
  .nav-bar-principia-logo {
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
  }

  .hide-on-small-only .nav-bar-principia-logo {
    height: 64px;
  }

  .hide-on-med-and-up .nav-bar-principia-logo {
    height: 58px;
  }
/* end logo stuff */

/*slider color*/
input[type=range]::-webkit-slider-thumb {
  background-color: #2196f3 !important;
}

/*slider color*/
input[type=checkbox] .lever::-webkit-slider-thumb {
  background-color: #2196f3 !important;
}

/* properties panel toolbox and properties */
  .property-window-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;

  }

  .property-window-list li {
    float: left;
    margin: 2px;
  }

  .property-item {
    height: 70px;
    width: 45%;
    padding: 0px 5px;
  }

  .toolbox-item-container {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #84C7C1;
    padding: 0;
    margin: auto;
    display: inline-block;
  }

  .toolbox-item-container .valign-wrapper {
    height: inherit;
  }

  .toolbox-item-container .card-reveal {
    background-color: #26A69A;
    white-space: normal;
    text-align: left;
    padding: 5px;
    margin: 0px;
  }

  .toolbox-item-container .card-reveal p {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
  }

  .toolbox-item-container:hover {
    background-color: #9deae2;
  }

  .toolbox-item {
    padding: 15px;
  }

  .toolbox-tooltip {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 1;
  }
/* end properties panel */

/* solution details box */
.solution-details-container {
  height: 300px;
}

.solution-details-container p {
  white-space: pre-wrap;
}

/* Profile Page */
.empty-profile-image-container {
  padding: 57px 0;
}

#profile-welcome-modal {
  height: 200px
}

/* change font awesome glyphicons size */
i.fa.fa-size-tiny {
  font-size: 1em;
}

i.fa.fa-size-small {
  font-size: 1.5em;
}

i.fa.fa-size-medium {
  font-size: 2em;
}

i.fa.fa-size-large {
  font-size: 3em;
}
/* end font awesome size change */

/* remove normal styling of toasts */
.toast {
  margin: 0;
  padding: 0;
  background-color: transparent;
  max-width: 450px;
  word-break: normal;
}
/* end toast overwrite */

.private-checkbox {
  margin-top: 26px;
}

/* simulator window context menu */
.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  border: solid;
  border-width: 1px;
  padding: 10px;
}

.context-menu--active {
  display: block;
}

/* end simulator window context menu */

#positionGraph, #vaGraph {
  height: 240px;
  width: 100%;
}

.fa-lg-custom {
  font-size: 1.33333em;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

/** via http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting **/
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

#left-menu {
  z-index: 3;
  position: relative;
  width: 80px;
  height: 80vh;
  background-color: #eaeaea;
  background: -webkit-linear-gradient(to bottom, #eaeaea, #dddddd); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to bottom, #eaeaea, #dddddd);
  float: left;
  padding-top: 20px;
  border-top: 2px solid #ffffff;
}

#right-menu {
  z-index: 3;
  position: relative;
  width: 80px;
  height: 80vh;
  background-color: #eaeaea;
  background: -webkit-linear-gradient(to bottom, #eaeaea, #dddddd); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to bottom, #eaeaea, #dddddd);
  float: right;
  padding-top: 20px;
  border-top: 2px solid #ffffff;
}

#simulator-window {
  padding-left: 80px;
  padding-right: 80px;
}

#viewport {
  background-color: #ffffff;
  height: 80vh;
}

.right-menu-item ,
.left-menu-item {
  z-index:2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-menu-item:hover,
.left-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  
    margin: 0;
    padding: 10px

}

.right-menu-item.active-side-menu-item,
.left-menu-item.active-side-menu-item {
  background-color: #222222;
  margin: 0;
  padding: 10px;
}

.right-menu-item.active-side-menu-item:hover,
.left-menu-item.active-side-menu-item:hover {
  background-color: #444444;
}

i.right-menu-item-close {
  float: left;
  color: #222222;
}

i.left-menu-item-close {
  float: right;
  color: #222222;
}

/*----slide menus----*/

#prompt-slide,
#keyframes-slide,
#graphs-slide,
#solution-slide {
  z-index:1;
  width: 340px;
  height: 300px;
  position: absolute;
  background-color: #eeeeee;
  left: -280px;
  top: 120px;
  margin: 0;

  overflow-y: scroll;

  transition: all .5s ;
  -webkit-transition: all .5s ;
  -moz-transition: all .5s ;
  -ms-transition: all .5s;
}

#prompt-slide {
  width: 500px;
  height:475px;
  left: -500px;
}

#keyframes-slide{
  top:185px;
  width: 360px;
  height: 400px;
  overflow-y: scroll;
}

#graphs-slide{
  top: 230px;
  width: 500px;
  height:475px;
  left: -500px;
}

#solution-slide{
  top: 310px;
  width: 500px;
  left: -500px;
  height: 375px;
}

#overview,
#globalprops,
#elementprops,
#toolbox {
  z-index: 1;
  width: 270px;
  height: 75vh;
  position: absolute;
  background-color: #eeeeee;
  right: -280px;
  top: 120px;
  margin: 0;

  overflow-y: scroll;

  transition: all .5s ;
  -webkit-transition: all .5s ;
  -moz-transition: all .5s ;
  -ms-transition: all .5s;
}

#toolbox {
  padding-left: 25px;
  text-align: center;
}

#globalprops{
  padding:5px;
}

#elementprops{
  padding-left: 8px;
}

.toggle-label{
  font-size: .4;
}

.property-item .input-field .switch label{
  font-size: .6rem;
}

select,
select.browser-default{
  margin-top: 8px;
  display: inline-block;
}

.switch label .lever{
  margin-left: 10px;
  margin-right: 10px;
}

.inherit-size {
  width: 100%;
  height: 100%;
}

/* half width card list */
  .card-list {
    list-style-type: none;
    list-style-image: none;
    width: 100%;
  }

  .card-list .card,
  .card-list .card-panel {
    float: left;
    margin: 20px 1%;
  }

  .card-list .card .activator,
  .card-list .card-panel .activator {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1;
  }

  .card-list .card-quarter-width .card-content,
  .card-list .card-quarter-width .card-content {
    font-size: 1em;
    padding: 20px;
  }

  .card-list .card-half-width .card-content,
  .card-list .card-half-width .card-content {
    font-size: 1em;
    padding: 20px;
  }

  .card-half-width {
    width: 48%;
  }

  .card-quarter-width {
    width: 23%;
  }

  .simulation-thumb {
    background: #222222;
  }

  .simulation-thumb-description {
    color: #ffffff;
    background: #222222;
    word-wrap: break-word;
  }

  .comment-simulation-name {
    word-wrap: break-word;
  }

/* color gradients used as accents */
  /* all generated from http://uigradients.com */
  .light-accent-gradient-1 { /* Back To Earth */
    background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c9ff , #92fe9d); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #00c9ff , #92fe9d);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(0, 201, 255, 0.5), rgba(146, 254, 157, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .light-accent-gradient-2 { /* Jonquil */
    background: #ffeeee; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffeeee , #ddefbb); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #ffeeee , #ddefbb);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(255, 238, 238, 0.5), rgba(221, 239, 187, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .light-accent-gradient-3 { /* Frozen */
    background: #403b4a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #403b4a , #e7e9bb); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #403b4a , #e7e9bb);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(64, 59, 74, 0.5), rgba(231, 233, 187, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .light-accent-gradient-4 { /* Rose Water */
    background: #e55d87; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e55d87 , #5fc3e4); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #e55d87 , #5fc3e4);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(229, 93, 135, 0.5), rgba(95, 195, 228, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .light-accent-gradient-5 { /* Sunny Days */
    background: #ede574; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ede574 , #e1f5c4); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #ede574 , #e1f5c4);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(237, 229, 116, 0.5), rgba(225, 245, 196, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .light-accent-gradient-6 { /* Timber */
    background: #fc00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #fc00ff , #00dbde);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(252, 0, 255, 0.5), rgba(0, 219, 222, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .light-accent-gradient-7 { /* Tranquil */
    background: #eecda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eecda3 , #ef629f); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #eecda3 , #ef629f);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(238, 205, 163, 0.5), rgba(239, 98, 159, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .light-accent-gradient-8 { /* Endless River */
    background: #43cea2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #43cea2 , #185a9d);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(67, 206, 162, 0.5), rgba(24, 90, 157, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .dark-accent-gradient-1 { /* Bloody Mary */
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff512f , #dd2476); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #ff512f , #dd2476);  w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(255, 81, 47, 0.5), rgba(221, 36, 118, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .dark-accent-gradient-2 { /* Predawn */
    background: #ffa17f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffa17f , #00223e); /* chrome 10-25, safari 5.1-6 */
    /* background: linear-gradient(to left, #ffa17f , #00223e); w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background: linear-gradient(to left, rgba(255, 161, 127, 0.5), rgba(0, 34, 62, 0.5)), url('/static/img/accent.png') no-repeat;
    background-size: cover;
    color: #ffffff;
  }

/* user display name identifier */
  span.user-display-name {
    font-style: normal;
  }

a.start-simulating-action {
  border: 1px solid #ffffff;
}

.zoom-controls-container {
  position: relative;
}

.zoom-controls {
  position: absolute;
  width: 30px;
  right: 5px;
  top: -93px;
}

.zoom-controls .btn {
  padding: 0 0.5em;
}

#simulator-subnav {
  z-index: 5;
  height: 40px;
  background-color: #eaeaea;
}

#simulator-subnav .nav-wrapper li:hover {
  background-color: #eaeaea;
}

#simulator-subnav .nav-wrapper .clickable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#simulator-subnav .nav-wrapper li,
#simulator-subnav .nav-wrapper li i,
#simulator-subnav .nav-wrapper li a,
#simulator-subnav .nav-wrapper li p,
#simulator-subnav .nav-wrapper li input {
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  display: inline;
}

#simulator-subnav .nav-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding: 0 10px;
}

#simulator-subnav .nav-wrapper .simulator-title {
  border-bottom: 2px solid #222222;
}

#simulator-subnav .nav-wrapper .simulator-title input {
  width: 86%;
  margin-left: 1em;
}

#simulator-subnav .nav-wrapper li {
  max-width: 25em;
  overflow-x: scroll;
  padding: 0 15px;
}

#simulator-subnav .nav-wrapper li p,
#simulator-subnav .nav-wrapper li i,
#simulator-subnav .nav-wrapper li input {
  color: #000000;
}

#simulator-subnav .nav-wrapper li a,
#simulator-subnav .nav-wrapper li a i,
#simulator-subnav .nav-wrapper li.clickable, 
#simulator-subnav .nav-wrapper li.clickable i,
#simulator-subnav .nav-wrapper li .switch {
  color: #039be5;
}

.play-bumper-left,
.play-bumper-right {
  width: 80px;
  margin:0px;
  padding:0px;
  background-color: red;
}

.left-play-bumper{
  float: left;
  z-index: 3;
  position: relative;
  width: 80px;
  height: 80vh;
  background-color: #F5F7F7;
  float: left;
}

.right-play-bumper{
  float: right;
  z-index: 3;
  position: relative;
  width: 80px;
  height: 80vh;
  background-color: #F5F7F7;
  
}

#play-container{
  width:100%;
  height: 50px;
  padding-left: 80px;
  margin-right: 80px;
  padding-top: 0px;
  padding-right: 80px;
  
  position:relative;

  background-color: #424242;
}

.play-pad{
  padding-left: 3px;
}
.pause-pad{
  padding-left: 1px;
}

#play-range {
  height: 50px;
  margin-right: 0px;
  float: right;
  position: absolute;
  left: 130px;
  vertical-align: center;
  text-align: center;
  padding-top: 7px;
}

#play-button {
  width: 50px;
  height: 50px;

  float: left;
  vertical-align: center;
  text-align: center;
  padding-top: 6px;
}

#menu-row {
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

#simulatorFrameRange{
  background-color: transparent;
  
}
.comment-container{
  padding-left: 80px;
  padding-right: 80px;
  margin: 20px auto;

}

/*Readding the help tooltip container for FBD box*/
.help-tooltip {
  display: none;
  position: absolute;
  color: #000000;
  background-color: #ffd54f;
  padding: 5px 5px;
  z-index: 15;
  white-space: normal;
}

.help-tooltip p {
  margin: 0;
  padding: 0;
}

#help-tooltip-fbd {
  color: blue;
  background-color: #ffffff;
}

.calculated-width {
    width: -moz-calc(100% - 210px);
    width: -webkit-calc(100% - 210px);
    width: calc(100% - 210px);
}
/*dont put anything after this ^  (.calculated-width) for some reason its not recognizing anything after it*/
