{{ define "title" }} - Simulations{{ end }}

{{ define "content" }}
<div class="container narrow">
  <div class="card-panel">
    <h3 class="page-header">Browse Simulations</h3>
    {{ if .Data.simulations }}
      <ul>
        {{ range $simulation := .Data.simulations }}
          <li><a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}">{{ $simulation.Name }} - {{ $simulation.Type }}</a></li>
        {{ end }}
      </ul>
    {{ else }}
      <p>Nothing?!</p>
    {{ end }}
  </div>
</div>
{{ end }}
