{{ define "commentsFrag" }}
<div class="main-container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h5>Comments <i class="fa fa-comments"></i></h5>
        <div class="row">
          <div class="col s8">

            <!-- Only post a comment if logged in and simulation is saved -->
            {{ if and (.CurrentUser)}}
            <div class="row">
              <div class="col s2">
                <i class="medium fa fa-user"></i>
              </div>
              <div class="col s10 bubble-content" id="new-comment">
                <div class="row">
                  <div class="point"></div>
                  <div class="input-field col s12">
                    <textarea id="comment-contents" class="materialize-textarea comment-text" placeholder="Comment on this simulation" length="1500"></textarea>
                    <label for="comment-name"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col right">
                  <a class="waves-effect waves-light btn blue darken-1" onclick="saveComment()">Post</a>
                </div>
              </div>
            </div> 
            {{ end }}

            <div class="row" id="comment-wrapper">
              <div class="col s12">
                <div class="preloader-wrapper small active" id="comment-load-gif">
                  <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s10" id="comments" style="word-wrap: break-word;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
