{{ define "commentsFrag" }}
<div class="pad-top pad-bottom" id="comments-frag">
  
    <div class="container">
      <h3>Comments <i class="fa fa-comments"></i></h3>
    </div>
  </div>

  <!-- Only post a comment if logged in and simulation is saved -->
  {{ if .IsLoggedIn }}
  <div class="container">
    <div class="row">
      <div class="col s8">
        <div class="card-panel">
          <div class="input-field">
            <textarea id="comment-contents" class="materialize-textarea comment-text" placeholder="Leave a comment" length="1000"></textarea>
          </div>
        </div>
      </div>
      <div class="col s2">
        <div class="input-field">
          <a class="waves-effect waves-light btn blue darken-1" onclick="saveComment()">Post</a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="container center-align">
    <div class="preloader-wrapper active" id="comment-load-gif">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="comments"></div>
</div>
<div class="pad-bottom"></div>
{{ end }}
