{{ define "commentsFrag" }}
<div class="pad-top pad-bottom"></div>
<div class="pad-top pad-bottom" id="comments-frag">
  <div class="pad-top pad-bottom white">
    <div class="container">
      <h5>Comments <i class="fa fa-comments"></i></h5>
    </div>
  </div>
  <div class="pad-top pad-bottom"></div>

  <!-- Only post a comment if logged in and simulation is saved -->
  {{ if .IsLoggedIn }}
  <div class="container">
    <div class="row">
      <div class="card-panel valign-wrapper">
        <div class="col m10 s8">
          <div class="input-field">
            <textarea id="comment-contents" class="materialize-textarea comment-text" placeholder="Leave a comment" length="1000"></textarea>
          </div>
        </div>
        <div class="col m2 s4">
          <div class="input-field">
            <a class="waves-effect waves-light btn blue darken-1" onclick="saveComment()">Post</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="preloader-wrapper small active" id="comment-load-gif">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="container" id="comments"></div>
</div>
{{ end }}
