{{ define "title" }} - Simulator{{ end }}

{{ define "scripts" }}
<script type="text/javascript"
src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="/static/js/simulator/globals.js"></script>
<script src="/static/js/lib/physicsjs/physicsjs-full.js"></script>
<script src="/static/js/lib/eq-solver.js"></script>
<script src="/static/js/simulator/simulation.js"></script>
<script src="/static/js/simulator/ui-controller.js"></script>
<script src="/static/js/simulator/rendering.js"></script>
<script src="/static/js/simulator/utility.js"></script>
<script src="/static/js/simulator/components/origin.js"></script>
<script src="/static/js/simulator/components/mass.js"></script>
<script src="/static/js/simulator/components/surface.js"></script>
<script src="/static/js/simulator/components/ramp.js"></script>
<script src="/static/js/simulator/components/spring.js"></script>
<script src="/static/js/simulator/components/pulley.js"></script>
<script src="/static/js/simulator/modules/kinematics.js"></script>
<script src="/static/js/lib/canvasjs.min.js"></script>

<script>
Kinematics1D.initModule({{ .Data.simulation.Simulator }});
var GlobalKeyNames = {
  User: {{ .User.KeyName }},
  Simulation: {{ .Data.simulation.KeyName }},
}
</script>

<script src="/static/js/simulator/base.js"></script>
<script src="/static/js/forms.js"></script>
{{ end }}


{{ define "content" }}

{{ if and (.IsLoggedIn) (.Data.isOwner) }} <!-- The navbar for a logged in owner -->
<nav id="simulator-subnav" role="navigation">
  <ul class="left nav-wrapper">
    <li class="clickable"><a href="/simulator/kinematics"><i class="fa fa-file-o fa-size-small"></i> New</a></li>
    {{ if not .Data.new }}
    <li class="clickable"><a id="delete-button"
      onclick="deleteSimulation('/simulator/{{ .Data.simulation.Type }}/{{ .Data.simulation.KeyName }}', '/simulator/{{ .Data.simulation.Type }}', null)">
      <i class="fa fa-trash fa-size-small"></i> Delete
    </a>
  </li>
  {{ end }}
  <li class="clickable" onclick="saveSimulation()"><i class="fa fa-save fa-size-small"></i> Save</li>
  <li class="clickable">
    <div class="switch">
      <label>
        Public
        {{ if .Data.simulation.IsPrivate }}
        <input id="simulation-is-private" checked="true" type="checkbox">
        {{ else }}
        <input id="simulation-is-private" type="checkbox">
        {{ end }}
        <span class="lever"></span>
        Private
      </label>
    </div>
  </li>
  <li class="simulator-title clickable input-field"> 
    <i class="fa fa-pencil fa-size-tiny prefix"></i>
    {{ if .Data.new }}
    <input id="simulation-name" type="text" value="New Simulation" maxlength="50"></input>
    {{ else }}
    <input id="simulation-name" type="text" value="{{ .Data.simulation.Name }}" maxlength="50"></input>
    {{ end }}
  </li>
  <li class="clickable right"><a href="/help" target="_blank"><i class="fa fa-question fa-size-small"></i></a></li>
  {{ if not .Data.new }}
  <li class="clickable right">
    <span id="ratings" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Loading Stars...">
      <i class="fa fa-star waves-effect waves-light grey-text text-lighten-1"></i>
    </span>
  </li>
  {{ end }}
</ul>
</nav>
{{ else }} <!-- The normal navbar -->
<nav id="simulator-subnav" role="navigation">
  <ul class="left nav-wrapper">
    <li class="clickable"><a href="/simulator/kinematics"><i class="fa fa-file-o fa-size-small"></i> New</a></li>
    <li class="simulator-title center-align"> 
      {{ if .Data.new }}
      <p>New Simulation</p>
      {{ else }}
      <p>{{ .Data.simulation.Name }}</p>
      {{ end }}
    </li>
    {{ if not .Data.new }}
    <li class="clickable">
      <p>By: <a href="/user/{{ .Data.simulation.AuthorID }}">{{ .Data.simulation.AuthorName }}</a></p>
    </li>
    {{ end }}
    <li class="clickable right"><a href="/help" target="_blank"><i class="fa fa-question fa-size-small"></i></a></li>
    {{ if not .Data.new }}
    {{ if .IsLoggedIn }}
    <li class="right clickable">
      <span id="ratings" class="tooltipped left" data-position="left" data-delay="50" data-tooltip="Loading Stars...">
        <a onclick="saveRating()"><i id="star-icon" class="fa fa-star-o waves-effect waves-light yellow-text text-accent-4"></i></a>
      </span>
    </li>
    {{ else }}
    <li class="right">
      <span id="ratings" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Loading Stars...">
        <i class="fa fa-star waves-effect waves-light grey-text text-lighten-1"></i>
      </span>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</nav>
{{ end }}

<div class="simulator">
  <div id="left-menu">
    <ul>
      <li class="clickable left-menu-item" id="prompt-tab"><span class="blue-text valign"><i class="fa fa-pencil-square-o fa-size-medium"></i> <small>Description</small></span></li>
      <li class="clickable left-menu-item" id="keyframes-tab"><span class="blue-text valign"><i class="fa fa-key fa-size-medium"></i> <small>Keyframes</small></span></li>
      <li class="clickable left-menu-item" id="graphs-tab"><span class="blue-text valign"><i class="fa fa-line-chart fa-size-medium"></i> <small>Graphs</small></span></li>
      <li class="clickable left-menu-item" id="solution-tab"><span class="blue-text valign"><i class="fa fa-lightbulb-o fa-size-medium pad-sides"></i> <small>Solution</small></span></li>
    </ul>
  </div>

  <div id="right-menu">
    <ul>
      <li class="clickable right-menu-item" id="toolbox-tab"><span class="blue-text valign"><i class="fa fa-cubes fa-size-medium"></i> <small>Toolbox</small></span></li>
      <li class="clickable right-menu-item" id="elementprops-tab"><span class="blue-text valign"><i class="fa fa-info-circle fa-size-medium"></i> <small>Properties</small></span></li>
      <li class="clickable right-menu-item" id="globalprops-tab"><span class="blue-text valign"><i class="fa fa-globe fa-size-medium"></i> <br/><small>Global</small></span></li>
      <li class="clickable right-menu-item" id="overview-tab"><span class="blue-text valign"><i class="fa fa-list fa-size-medium"></i> <small>Overview</small></span></li>
    </ul>
  </div>

  <div id="simulator-window">
    <div id="viewport"></div>
    <div class="zoom-controls-container">
      <div class="zoom-controls">
        <a id="zoom-control-in" class="waves-effect waves-light btn brown lighten-5 black-text"><i class="fa fa-plus"></i></a>
        <a id="zoom-control-out" class="waves-effect waves-light btn brown lighten-5 black-text"><i class="fa fa-minus"></i></a>
      </div>
    </div>    
  </div>
  </div>

<div id="help-tooltip-fbd" class="help-tooltip card"></div>

<div id="play-container">
  <div id="play-button">
    <button type="button" class="waves-effect waves-light btn-floating blue darken-1" id="playpause">
      <span aria-hidden="true"><i id="play-pause-icon" class="fa fa-play fa-size-tiny play-pad"></i></span>
    </button>
  </div>
  <div class="calculated-width" id="play-range">
    <input type="range" min="0" max="999" step="1" value="0" id="simulatorFrameRange" oninput="onRangeUpdate()" />
  </div>
  <div id="play-range-label"></div>
</div>

<div class="comment-container">
  {{ if not .Data.new }}
  {{ template "commentsFrag" . }}
  {{ end }}
</div>


<!-- Initially hidden elements -->

<!--prompt-->
<div id="prompt-slide" class="card-panel valign-wrapper">
  <div class="valign inherit-size">
    <i class="left-menu-item-close clickable fa fa-times fa-size-large"></i>
    {{ if and (.IsLoggedIn) (.Data.isOwner) }}
    <div class="clear"></div>
    <div class="input-field">
      <textarea id="simulation-description" type="text" class="materialize-textarea" length="1000000" tabindex="-1">{{ .Data.simulation.Description }}</textarea>
      <label for="simulation-description" id="simulation-description-label">Simulation Description</label>
    </div>
    {{ else if .Data.simulation.Description }}
    <h5 class="pad-sides">Simulation Description</h5>
    <p id="simulation-description" class="preserve-newline">{{ .Data.simulation.Description }}</p>
    {{ else if and (not .IsLoggedIn) (.Data.new) }}
    <p>
      <a href="{{ .LoginUrl }}">{{ .LoginMessage }}!</a>
      <span>and save a description for your simulation!</span>
    </p>
    {{ else }}
    <h5 class="pad-sides">Simulation Description</h5>
    <p>No Description has been written...</p>
    {{ end }}
  </div>
</div>

<!--keyframes-->
<div id="keyframes-slide" class="card-panel">
  <i class="left-menu-item-close clickable fa fa-times fa-size-large"></i>
  <h5>Keyframes:
    <a class="btn-floating btn-small waves-effect waves-light red" id="add-keyframe"><i class="fa fa-plus"></i></a>
  </h5>
  <div class="clear"></div>
  <div id="keyframelist">
    <ul id="keyframe-list">
      <li>
        <div class="keyframe-tile">
          <h6>Frame 1: </h6>
          <canvas id="keyframe-0" class="keyframe" style="border:4px solid #0000cc"></canvas>
          <div class="input-field">
            <input id="keyframe-0-dt" type="text" readonly value="0" tabindex="-1"></input>
            <label for="keyframe-0-dt" class="active">dt</label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--graph-->
<div id="graphs-slide" class="center-align card-panel">
  <i class="left-menu-item-close clickable fa fa-times fa-size-large"></i>
  <h5 class="pad-sides">Graphs</h5>
  <div class="clear"></div>

  <!-- Graphing acceleration velocity and position -->
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active">Position</div>
      <div class="collapsible-body">
        <div class="row graph-row">
          <div class="col s12 graph-container">
            <p class="pva-graph-no-graph-text">No Graph to show.</p>
            <div id="positionGraph"></div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header active">Velocity/Acceleration</div>
      <div class="collapsible-body">
        <div class="row graph-row">
          <div class="col s12 graph-container">
            <p class="pva-graph-no-graph-text">No Graph to show.</p>
            <div id="vaGraph"></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


<!--Solution-->
<div id="solution-slide" class="card-panel yellow lighten-4">
  <div class="solution-details-container">
    <i class="left-menu-item-close clickable fa fa-times fa-size-large"></i>
    <h5>Solution details:</h5>
    <div class="clear"></div>
    <p id="solution-details"></p>
  </div>
</div>


<!-- Toolbox -->
<div id="toolbox" class="z-depth-1 center-align">
  <div class="center-align">
    <i class="right-menu-item-close clickable fa fa-times fa-size-large"></i>
    <h5 class="pad-sides">Toolbox</h5>
    <div class="clear"></div>
    <ul class="property-window-list">
      <li class="toolbox-item-container card" title="Point Mass">
        <span class="activator clickable toolbox-tooltip"><i class="fa fa-question-circle fa-size-tiny"></i></span>
        <div class="valign-wrapper">
          <img class="toolbox-item draggable clickable responsive-img valign" width="100" src="/static/img/toolbox/roundmass.png" component="kinematics1D-roundmass"/>
        </div>
        <div class="card-reveal">
          <span class="card-title clickable left"><i class="fa fa-times fa-size-tiny"></i></span>
          <p>Point Masses are the staple of Principia. They can be given velocity, acceleration, mass, size, or drawn with different images.</p>
        </div>
      </li>
      <li class="toolbox-item-container card" title="Point Mass">
        <span class="activator clickable toolbox-tooltip"><i class="fa fa-question-circle fa-size-tiny"></i></span>
        <div class="valign-wrapper">
          <img class="toolbox-item draggable clickable responsive-img valign" width="100" src="/static/img/toolbox/squaremass.png" component="kinematics1D-squaremass"/>
        </div>
        <div class="card-reveal">
          <span class="card-title clickable left"><i class="fa fa-times fa-size-tiny"></i></span>
          <p>Point Masses are the staple of Principia. They can be given velocity, acceleration, mass, size, or drawn with different images.</p>
        </div>
      </li>
      <li class="toolbox-item-container card restricted" title="Surface">
        <span class="activator clickable toolbox-tooltip"><i class="fa fa-question-circle fa-size-tiny"></i></span>
        <div class="valign-wrapper">
          <img class="toolbox-item draggable clickable responsive-img valign" width="100" src="/static/img/toolbox/surface.png" component="kinematics1D-surface"/>
        </div>
        <div class="card-reveal">
          <span class="card-title clickable left"><i class="fa fa-times fa-size-tiny"></i></span>
          <p>Surfaces are static and affect the movement of point mass objects.</p>
        </div>
      </li>
      <li class="toolbox-item-container card restricted" title="Ramp">
        <span class="activator clickable toolbox-tooltip"><i class="fa fa-question-circle fa-size-tiny"></i></span>
        <div class="valign-wrapper">
          <img class="toolbox-item draggable clickable responsive-img valign" width="100" src="/static/img/toolbox/ramp.png" component="kinematics1D-ramp"/>
        </div>
        <div class="card-reveal">
          <span class="card-title clickable left"><i class="fa fa-times fa-size-tiny"></i></span>
          <p>Ramps are static and affect the movement of point mass objects.</p>
        </div>
      </li>
      <li class="toolbox-item-container card restricted" title="Spring">
        <span class="activator clickable toolbox-tooltip"><i class="fa fa-question-circle fa-size-tiny"></i></span>
        <div class="valign-wrapper">
          <img class="toolbox-item draggable clickable responsive-img valign" width="100" src="/static/img/toolbox/spring.png" component="kinematics1D-spring"/>
        </div>
        <div class="card-reveal">
          <span class="card-title clickable left"><i class="fa fa-times fa-size-tiny"></i></span>
          <p>Attatch a point mass to the right end of a spring to see it in action.</p>
        </div>
      </li>
      <li class="toolbox-item-container card restricted" title="Pulley">
        <span class="activator clickable toolbox-tooltip"><i class="fa fa-question-circle fa-size-tiny"></i></span>
        <div class="valign-wrapper">
          <img class="toolbox-item draggable clickable responsive-img valign" width="100" src="/static/img/toolbox/pulley.png" component="kinematics1D-pulley"/>
        </div>
        <div class="card-reveal">
          <span class="card-title clickable left"><i class="fa fa-times fa-size-tiny"></i></span>
          <p>Drag two point mass objects into a pulley to attach them. Then drag one below, give them weights, set gravity and give it a whirl.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>




<!-- Properties window for each element -->
<div id="elementprops" class="z-depth-1">
  <div class="center-align">
    <i class="right-menu-item-close clickable fa fa-times fa-size-large"></i>
    <h5 class="pad-sides"><span id="general-properties-nickname-title"></span>Element Properties</h5>
    <div class="clear"></div>

    <!-- Properties that apply to all components -->
    <ul class="property-window-list hide" id="general-properties">
      <li class="property-item">
        <div class="input-field">
          <input type="text" id="general-properties-nickname" placeholder="" tabindex="-1"></input>
          <label for="general-properties-nickname" class="active">Nickname</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <a class="waves-effect waves-light btn red darken-1" onclick="deleteBody()"> <i class="fa fa-trash"></i></a>
        </div>
      </li>
      <li class="property-item" data-principia-property="posx">
        <div class="input-field">
          <input type="number" id="general-properties-position-x" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="general-properties-position-x" class="active" id="x-position-label">X Position</label>
        </div>            
      </li>
      <li class="property-item" data-principia-property="posy">
        <div class="input-field">
          <input type="number" id="general-properties-position-y" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="general-properties-position-y" class="active" id="y-position-label">Y Position</label>
        </div>            
      </li>
    </ul>

    <!-- Properties that apply to point mass components -->
    <ul class="property-window-list hide" id="pointmass-properties">
      <li class="property-item" data-principia-property="velx">
        <div class="input-field">
          <input type="number" id="pointmass-properties-velocity-x" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="pointmass-properties-velocity-x" class="active" id="x-velocity-label">X Velocity</label>
        </div>            
      </li>
      <li class="property-item" data-principia-property="vely">
        <div class="input-field">
          <input type="number" id="pointmass-properties-velocity-y" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="pointmass-properties-velocity-y" class="active" id="y-velocity-label">Y Velocity</label>
        </div>            
      </li>
      <li class="property-item" data-principia-property="accx">
        <div class="input-field">
          <input type="number" id="pointmass-properties-acceleration-x" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="pointmass-properties-acceleration-x" class="active" id="x-acceleration-label">X Thrust</label>
        </div>            
      </li>
      <li class="property-item" data-principia-property="accy">
        <div class="input-field">
          <input type="number" id="pointmass-properties-acceleration-y" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="pointmass-properties-acceleration-y" class="active" id="y-acceleration-label">Y Thrust</label>
        </div>            
      </li>
      <li class="property-item" data-principia-property="accx_total">
        <div class="input-field">
          <input type="number" id="pointmass-properties-acceleration-x-total" placeholder="" tabindex="-1" readonly></input>
          <label for="pointmass-properties-acceleration-x-total" class="active" id="x-acceleration-total-label">Total X Acc</label>
        </div>            
      </li>
      <li class="property-item" data-principia-property="accy_total">
        <div class="input-field">
          <input type="number" id="pointmass-properties-acceleration-y-total" placeholder="" tabindex="-1" readonly></input>
          <label for="pointmass-properties-acceleration-y-total" class="active" id="y-acceleration-total-label">Total Y Acc</label>
        </div>            
      </li>
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="pointmass-properties-mass" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="pointmass-properties-mass" class="active">Mass</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="pointmass-properties-size" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="pointmass-properties-size" class="active">Size</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <select id="pointmass-properties-img" class="browser-default img-select" tabindex="-1">
            <option disabled>Display As:</option>
            <option id="mass-round-img" value="0" selected="selected">Mass Round</option>
            <option id="mass-square-img" value="1">Mass Square</option>
            <option value="2">Weight</option>
            <option value="3">Car</option>
            <option value="4">Sail Boat</option>
            <option value="5">Speed Boat</option>
            <option value="6">Mascot</option>
            <option value="7">Dart</option>
            <option value="8">Jogger</option>
            <option value="9">Rocket</option>
            <option value="10">Dalton</option>
            <option value="11">Danny</option>
            <option value="12">Matthew</option>
            <option value="13">Sam</option>
            <option value="14">Logo</option>
          </select>
          <label for="pointmass-properties-img" class="active">Display As</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <span>Vectors</span>
          <div class="switch">
            <label>
              Off
              <input class="vector-toggle" id="pointmass-properties-vector" type="checkbox" checked="checked" tabindex="-1"></input>
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <span>Tip-to-Tail</span>
          <div class="switch">
            <label>
              Off
              <input class="ttt-toggle" id="pointmass-properties-vector-ttt" type="checkbox" tabindex="-1"></input>
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <span>PVA Graph</span>
          <div class="switch">
            <label>
              Off
              <input class="pvagraph-toggle" id="pointmass-properties-pvagraph" type="checkbox" tabindex="-1"></input>
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>
      </li>
    </ul>

    <!-- Spring properties -->
    <ul class="property-window-list hide" id="spring-properties">
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="spring-properties-k" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="spring-properties-k" class="active">K</label>
        </div>
      </li>
    </ul>
    
    <!-- Surface properties! -->
    <ul class="property-window-list hide" id="surface-properties">
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="surface-properties-width" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="surface-properties-width" class="active">Width</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="surface-properties-height" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="surface-properties-height" class="active">Height</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="surface-properties-friction" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="surface-properties-friction" class="active">Friction</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <a class="waves-effect waves-light btn blue" id="surface-properties-rotate">Rotate</a>
        </div>
      </li>          
    </ul>

    <!-- Ramp properties! -->
    <ul class="property-window-list hide" id="ramp-properties">
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="ramp-properties-width" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="ramp-properties-width" class="active">Width</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="ramp-properties-height" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="ramp-properties-height" class="active">Height</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="ramp-properties-angle" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="ramp-properties-angle" class="active">Slope as Angle º</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <input type="number" id="ramp-properties-friction" placeholder="" title="Enter a number" tabindex="-1"></input>
          <label for="ramp-properties-friction" class="active">Friction</label>
        </div>
      </li>
      <li class="property-item">
        <div class="input-field">
          <a class="waves-effect waves-light btn blue" id="ramp-properties-flip-horz"><small>Flip <i class="fa fa-arrows-h fa-size-tiny"></i></small></a>
        </div>
      </li>          
      <li class="property-item">
        <div class="input-field">
          <a class="waves-effect waves-light btn blue" id="ramp-properties-flip-vert"><small>Flip <i class="fa fa-arrows-v fa-size-tiny"></i></small></a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Hideable global properties window for each element -->
<div id="globalprops" class="z-depth-1">
  <div class="center-align ">
    <i class="right-menu-item-close clickable fa fa-times fa-size-large"></i>
    <h5 class="pad-sides pad-title">Global Properties</h5>
    <div class="clear"></div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="glob-xaccel" placeholder="" title="Enter a number" tabindex="-1"></input>
        <label for="glob-xaccel" class="active">Horizontal Acc.</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="glob-yaccel" placeholder="" title="Enter a number" tabindex="-1"></input>
        <label for="glob-yaccel" class="active">Vertical Acc.</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <h6>Origin:</h6>
        <div class="toolbox-item-container card" title="Origin">
          <span class="activator clickable toolbox-tooltip"><i class="fa fa-question-circle fa-size-tiny"></i></span>
          <div class="valign-wrapper">
            <img class="toolbox-item ui-draggable clickable responsive-img valign" width="100" src="/static/img/toolbox/target.png"/>
          </div>
          <div class="card-reveal">
            <span class="card-title clickable left"><i class="fa fa-times fa-size-tiny"></i></span>
            <p>Drag this onto the simulator window to change the origin of the simulation!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="number" id="glob-xorigin" placeholder="" value="0" title="Enter a number" tabindex="-1"></input>
        <label for="glob-xorigin" class="active">Origin X</label>
      </div>
      <div class="input-field col s6">
        <input type="number" id="glob-yorigin" placeholder="" value="0" title="Enter a number" tabindex="-1"></input>
        <label for="glob-yorigin" class="active">Origin Y</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select id="coord-sys" class="browser-default" tabindex="-1">
          <option disabled>Coordinate System:</option>
          <option value="cartesian" selected="selected">Cartesian</option>
          <option value="polar" >Polar</option>
        </select>
        <label for="coord-sys" class="active">Coordinate System</label>
      </div>
      <div class="input-field col s6">
        <select id="glob-timestep-unit" class="browser-default" tabindex="-1">
          <option disabled>dt per Frame (s)</option>
          <option value="0.5" selected="selected">0.5</option>
          <option value="1.0" >1.0</option>
          <option value="2.0" >2.0</option>
        </select>
        <label for="glob-timestep-unit" class="active">dt per Frame (s)</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s6">
        <select id="glob-length-unit" class="browser-default" tabindex="-1">
          <option disabled>Length Unit</option>
          <option value="1000.0" >Millimeters</option>
          <option value="100.0" >Centimeters</option>
          <option value="1.0" selected="selected">Meters</option>
          <option value="0.001" >Kilometers</option>
          <option value="39.3701" >Inches</option>
          <option value="3.28084" >Feet</option>
          <option value="1.09361" >Yards</option>
          <option value="0.000621371" >Miles</option>
        </select>
        <label for="glob-length-unit" class="active">Length Unit</label>
      </div>
      <div class="input-field col s6">
        <select id="glob-time-unit" class="browser-default" tabindex="-1">
          <option disabled>Time Unit</option>
          <option value="1000.0" >Milliseconds</option>
          <option value="1.0" selected="selected">Seconds</option>
          <option value="0.01666666667" >Minutes</option>
          <option value="0.00027777778" >Hours</option>
        </select>
        <label for="glob-time-unit" class="active">Time Unit</label>
      </div>
    </div>  
  </div>
</div>

<!-- Overview with a dynamically populated list of all active elements -->
<div id="overview" class="z-depth-1">
  <div class="center-align ">
    <i class="right-menu-item-close clickable fa fa-times fa-size-large"></i>
    <h5 class="pad-sides">Scene Overview</h5>
    <div class="clear"></div>
    <div class="row" >
      <ul id ="overview-list"></ul>
    </div>
  </div>
</div>
<!---------- End Simulator and property window  ---------->

<!-- This is the context menu -->
<div class="context-menu">
  <span>Object Properties</span>
  <ul>
    <li class="context-menu-item">
      <span>Vectors</span>
      <div class="switch">
        <label>
          Off
          <input class="vector-toggle" id="pointmass-properties-vector-cmenu" type="checkbox" tabindex="-1"></input>
          <span class="lever"></span>
          On
        </label>
      </div>
    </li>
    <li class="context-menu-item">
      <span>Tip-to-Tail Vectors</span>
      <div class="switch">
        <label>
          Off
          <input class="ttt-toggle" id="pointmass-properties-vector-ttt-cmenu" type="checkbox" tabindex="-1"></input>
          <span class="lever"></span>
          On
        </label>
      </div>
    </li>
    <li class="context-menu-item">
      <span>PVA Graph</span>
      <div class="switch">
        <label>
          Off
          <input class="pvagraph-toggle" id="pointmass-properties-pvagraph-cmenu" type="checkbox" tabindex="-1"></input>
          <span class="lever"></span>
          On
        </label>
      </div>
    </li>
  </ul>
</div>
{{ end }}
