{{ define "title" }} - Simulator{{ end }}

{{ define "scripts" }}
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="/static/js/simulator/globals.js"></script>
<script src="/static/js/lib/physicsjs/physicsjs-full.js"></script>
<script src="/static/js/lib/canvasjs.min.js"></script>
<script src="/static/js/lib/eq-solver.js"></script>
<script src="/static/js/simulator/simulation.js"></script>
<script src="/static/js/simulator/ui-controller.js"></script>
<script src="/static/js/simulator/rendering.js"></script>
<script src="/static/js/simulator/utility.js"></script>
<script src="/static/js/simulator/components/origin.js"></script>
<script src="/static/js/simulator/components/mass.js"></script>
<script src="/static/js/simulator/components/ramp.js"></script>
<script src="/static/js/simulator/components/spring.js"></script>
<script src="/static/js/simulator/components/pulley.js"></script>
<script src="/static/js/simulator/modules/kinematics.js"></script>
<script src="/static/js/lib/canvasjs.min.js"></script>

<script>
  Kinematics1D.initModule({{ .Data.simulation.Simulator }});
  var GlobalKeyNames = {
    User: {{ .User.KeyName }},
    Simulation: {{ .Data.simulation.KeyName }},
  }
</script>

<script src="/static/js/simulator/base.js"></script>
<script src="/static/js/forms.js"></script>
<script src="/static/js/view.js"></script>


{{ end }}

{{ define "content" }}
<div class="main-container simulator-container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        {{ template "simulatorFrag" . }}

        <div class="row">
          <!-- Div for switching between keyframes. Enable playback when keyframes have no unknowns. -->
          <div class="col s12">
            <div class="help-tooltip-container">
              <div class="row">
                <a id="solution-detail-button" class="waves-effect waves-light btn modal-trigger purple darken-1" href="#solutionModal" style="display: none;">Solution Details</a>
                <h5>Keyframes:
                  <a class="btn-floating btn-small waves-effect waves-light red" id="add-keyframe"><i class="fa fa-plus"></i></a>
                  <!-- Solution Modal Trigger -->
                </h5>
              </div>
              <div id="help-tooltip-keyframes" class="help-tooltip card">
                <p>
                  Multiple keyframes are used to set up the initial and final states of your model so
                  that the frames inbetween can be solved for. You can even set up intermediate key
                  frames. The solution will display in the "Solution Details" window.
                </p>
              </div>
            </div>

            <div id="keyframelist">
              <ul id="keyframe-list">
                <li>
                  <div class="keyframe-tile">
                    <h6>Frame 1: </h6>
                    <canvas id="keyframe-0" class="keyframe" style="border:4px solid #0000cc"></canvas>
                    <div class="input-field">
                      <input id="keyframe-0-dt" type="text" readonly value="0"></input>
                      <label for="keyframe-0-dt" class="active">dt</label>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ if .Data.simulation.KeyName }}
  <div class="main-container simulator-container" id="comments-frag">
    {{ template "commentsFrag" . }}
  </div>
{{ end }}


<!-- Solution Modal Structure -->
<div id="solutionModal" class="modal yellow lighten-4">
  <div class="modal-content solution-details-container">
    <h5>Solution details:</h5>
    <p id="solution-details"></p>
  </div>
  <div class="modal-footer yellow lighten-5">
    <a href="#!" class="modal-action modal-close waves-effect waves-yellow btn-flat">Got it!</a>
  </div>
</div>

{{ end }}
