{{ define "simulationsListFrag" }}

{{ if .Data.simulations }}
  <div class="container">
    <ul class="card-list">
      {{ range $simulation := .Data.simulations }}
        <li>
          <div class="hide-on-small-only card-quarter-width card">
            <div class="card-image waves-effect waves-block waves-dark">
              <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}"><img class="responsive-img simulation-thumb" src="{{ $simulation.ImageSrcUrl }}" /></a>
            </div>
            <div class="card-content simulation-thumb-description">
              <span class="card-title">
                <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}">{{ $simulation.Name }}</a>
              </span>
              <p><small>A {{ $simulation.Type }} simulation by <a href="/user/{{ $simulation.AuthorID }}">{{ $simulation.AuthorName }}</a></small></p>
              <span class="activator clickable"><i class="fa fa-wrench"></i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title">Details<i class="fa fa-times right"></i></span>
              <p>
                Favorited {{ $simulation.RatingTotal }} times
              </p>
              <p>
                {{ $simulation.Description }}
              </p>
              {{ if $.Data.userIsOwner }}
              <div class="card-action">
                <a class="dark-link-blue clickable" onClick="deleteSimulation('/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}', null, this.parentElement.parentElement)">
                  Delete! <i class="fa fa-trash-o fa-lg-custom"></i>
                </a>
              </div>
              {{ end }}
            </div>
          </div>

          <div class="hide-on-med-and-up card-half-width card">
            <div class="card-image waves-effect waves-block waves-dark">
              <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}"><img class="responsive-img simulation-thumb" src="{{ $simulation.ImageSrcUrl }}" /></a>
            </div>
            <div class="card-content simulation-thumb-description">
              <span class="card-title">
                <a href="/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}">{{ $simulation.Name }}</a>
              </span>
              <p><small>A {{ $simulation.Type }} simulation by <a href="/user/{{ $simulation.AuthorID }}">{{ $simulation.AuthorName }}</a></small></p>
              <span class="activator clickable"><i class="fa fa-wrench"></i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title">Details<i class="fa fa-times right"></i></span>
              <p>
                Favorited {{ $simulation.RatingTotal }} times
              </p>
              <p>
                {{ $simulation.Description }}
              </p>
              {{ if $.Data.userIsOwner }}
              <div class="card-action">
                <a class="dark-link-blue clickable" onClick="deleteSimulation('/simulator/{{ $simulation.Type }}/{{ $simulation.KeyName }}', null, this.parentElement.parentElement)">
                  Delete! <i class="fa fa-trash-o fa-lg-custom"></i>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
        </li>
      {{ end }}
    </ul>
  </div>

  <div class="clear"></div>
{{ else }}
  <div class="container narrow center-align">
    <div class="light-accent-gradient-7 pad-top pad-bottom">
      <p>No Simulations to show</p>
    </div>
  </div>
{{ end }}

{{ end }}
