{{ define "simulatorFrag" }}
<div class="row">
  <div class="input-field col s4">
    {{ if and (.CurrentUser) (.Data.isOwner) }}
      {{ if .Data.sim.Name }}
        <input id="simulation-name" type="text" value="{{ .Data.sim.Name }}"></input>
      {{ else }}
        <input id="simulation-name" type="text" value="New Simulation"></input>
      {{ end }}
      <label for="simulation-name" id="simulation-name-label">Simulation Name</label>
    {{ else }}
      {{ if .Data.sim.Name }}
        <h5 class="page-header">{{ .Data.sim.Name }}</h5>
      {{ else }}
        <h5 class="page-header">New Simulation</h5>
      {{ end }}
    {{ end }}
  </div>

  {{ if and (.Data.isOwner) (.CurrentUser) }}
  <!-- Show Save Simulation only if you are the logged in and the owner -->
  <div class="col s1 right pad-sides">
    <a class="waves-effect waves-light btn-floating green darken-1" id="save-button" onclick="saveSimulation()"><i class="fa fa-floppy-o"></i></a>
  </div>
  {{ end }}
</div>

<div class="row">
  <div class="col s8">
    <!-- This div has to have the id "viewport" for PhysicsJS to render here -->
    <div style="height: 500px;" id="viewport" class="white card"></div>
  </div>
  <div class="col s4 card scrollable-tools" style="height: 500px;">
    <ul class="tabs">
      <li class="tab col s4 valign-wrapper"><a class="property-tab blue-text valign active" href="#toolbox" id="toolbox-tab"><i class="fa fa-cubes fa-size-medium"></i></a></li>
      <li class="tab col s4"><a class="property-tab blue-text valign" href="#elementprops" id="elementprops-tab"><i class="fa fa-info-circle fa-size-medium"></i></a></li>
      <li class="tab col s4"><a class="property-tab blue-text valign" href="#globalprops" id="globalprops-tab"><i class="fa fa-globe fa-size-medium"></i></a></li>
      <div class="indicator blue" style="z-index: 1;"></div>
    </ul>

    <!-- Toolbox -->
    <div id="toolbox">
      <div class="center-align">
        <h5 class="pad-sides">Toolbox</h5>
        <div class="row">
          <div class="col s4 toolbox-item-container" style="background-color: #f5f5f5; width:100px; height:100px;">
            <div class="dummy"></div>
            <div class="toolbox-item">
              <img src="/static/img/logo/logo.png" class="draggable" width="40" component="kinematics1D-mass">
            </div>
          </div>
          <div class="col s4 toolbox-item-container" style="background-color: #f5f5f5; width:100px; height:100px; ">
            <div class="dummy"></div>
            <div class="toolbox-item"> 
              <img src="/static/img/toolbox/spring.png" class="draggable" width="55" component="kinematics1D-spring">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Properties window for each element -->
    <div id="elementprops">
      <div class="center-align">
        <h5 class="pad-sides"><span id="properties-nickname-title"></span>Element Properties</h5>
        <div class="row">
          <div class="input-field col s6">
            <input type="number" id="properties-position-x" placeholder=""></input>
            <label for="properties-position-x" class="active" id="x-position-label">X Position</label>
          </div>
          <div class="input-field col s6">
            <input type="number" id="properties-position-y" placeholder=""></input>
            <label for="properties-position-y" class="active" id="y-position-label">Y Position</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="number" id="properties-velocity-x" placeholder=""></input>
            <label for="properties-velocity-x" class="active">X Velocity</label>
          </div>
          <div class="input-field col s6">
            <input type="number" id="properties-velocity-y" placeholder=""></input>
            <label for="properties-velocity-y" class="active">Y Velocity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="number" id="properties-acceleration-x" placeholder=""></input>
            <label for="properties-acceleration-x" class="active">X Acceleration</label>
          </div>
          <div class="input-field col s6">
            <input type="number" id="properties-acceleration-y" placeholder=""></input>
            <label for="properties-acceleration-y" class="active">Y Acceleration</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="number" id="properties-mass" placeholder=""></input>
            <label for="properties-mass" class="active">Mass</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="properties-nickname" placeholder=""></input>
            <label for="properties-nickname" class="active">Nickname</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6" id="properties-img-container">                     
            <select id="properties-img" class="browser-default">
              <option disabled>Display As:</option>
              <option value="0" selected="selected">Logo</option>
              <option value="1">Weight</option>
              <option value="2">Car</option>
              <option value="3">Mascot</option>
              <option value="4">Dart</option>
              <option value="5">Jogger</option>
              <option value="6">Dalton</option>
              <option value="7">Danny</option>
              <option value="8">Matthew</option>
              <option value="9">Sam</option>                      
            </select>
            <label for="properties-img" class="active">Display As</label>
          </div>
          <div class="input-field col s6" id="properties-size-container" class="">
            <input type="text" id="properties-size" placeholder=""></input>
            <label for="properties-size" class="active">Size</label>
          </div>
        </div>
        <div class="row">
          <div class="intput-field col s6">
            <br />
              <span>Vectors</span>
              <div class="switch">
                <label>
                  Off
                  <input id="vector-checkbox" type="checkbox" onchange="showVectors()">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Hideable global properties window for each element -->
    <div id="globalprops">
      <div class="center-align">
        <h5 class="pad-sides">Global Properties</h5>
        <div class="row">
          <div class="input-field col s6">
            <input type="number" id="glob-xaccel" placeholder=""></input>
            <label for="glob-xaccel" class="active">Horizontal Acceleration</label>
          </div>
          <div class="input-field col s6">
            <input type="number" id="glob-yaccel" placeholder=""></input>
            <label for="glob-yaccel" class="active">Vertical Acceleration</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">        
            <select id="coord-sys" class="browser-default">
              <option disabled>Coordinate System</option>
              <option value="cartesian" selected="selected">Cartesian</option>
              <option value="polar" >Polar</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div id="toolbox">
            <div class="center-align">
              <h5 class="pad-sides">Toolbox</h5>
              <div class="row">
                <div class="col s4 toolbox-item-container" style="background-color: #f5f5f5; width:100px; height:100px;">
                  <div class="dummy"></div>
                  <div class="toolbox-item">
                    <img src="/static/img/toolbox/target.jpg" class="ui-draggable" width="40" >
                  </div>
                </div>
                <div class="input-field col s4">
                  <input type="number" id="glob-xorigin" placeholder="" value="0"></input>
                  <label for="glob-xorigin" class="active">Origin X</label>
                </div>
                <div class="input-field col s4">
                  <input type="number" id="glob-yorigin" placeholder="" value="0"></input>
                  <label for="glob-yorigin" class="active">Origin Y</label>
                </div>
              </div>
            </div>
          </div> 
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row" id="playback">
  <div class="col s12">
    <div class="row">
      <div class="col s1">
        <button type="button" class="waves-effect waves-light btn-floating blue darken-1" onclick="toggleSimulator()" id="playpause">
          <span aria-hidden="true"><i id="play-pause-icon" class="fa fa-play fa-size-small"></i></span>
        </button>
      </div>
      <div class="col s11">
        <input type="range" min="0" max="3999" step="1" value="0" id="simulatorFrameRange" oninput="onRangeUpdate()" />
      </div>
    </div>
  </div>
</div>
{{ end }}
