{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sandbox Tests</title>

  <link rel="shortcut icon" type="image/png" href="/static/js/lib/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" href="/static/js/lib/jasmine/jasmine.css">

  <script src="/static/js/lib/jasmine/jasmine.js"></script>
  <script src="/static/js/lib/jasmine/jasmine-html.js"></script>
  <script src="/static/js/lib/jasmine/boot.js"></script>

  <!-- include source files here... -->
  <!-- Kinematics.js etc -->
  <script src="/static/js/test/src/Player.js"></script>
  <script src="/static/js/test/src/Song.js"></script>

  <!-- include test files here... -->
  <script src="/static/js/test/spec/SpecHelper.js"></script>
  <script src="/static/js/test/spec/PlayerSpec.js"></script>

</head>

<body>
</body>
</html>
{{ end }}
